@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
  margin : 0;
  padding : 0;
  /* font-family: 'Open Sans Condensed', sans-serif; */
}
h1{
  line-height: 50px;
}
h1 span{
  background : green;
  position: fixed;
  left : 0;
  top : 0;
}
